<div class="cycling-story">
  <h1>My Cycling Journey</h1>
  <img src="assets/img_ecp_beach.jpg" alt="img_ecp_beach" />
  <p>Story about this image...</p>

  <img src="assets/img_seletar_dam.jpg" alt="img_seletar_dam" />
  <p>Story about this image...</p>

  <img src="assets/img_cycling_photo_shooting.jpg" alt="img_cycling_photo_shooting" />
  <p>Story about this image...</p>

  <img src="assets/route_half_singapore.jpg" alt="route_half_singapore" />
  <p>Story about this image...</p>

  <img src="assets/route_north_to_south.jpg" alt="route_north_to_south" />
  <p>Story about this image...</p>

  <img src="assets/img_servicing_bike.jpg" alt="img_servicing_bike" />
  <p>Story about this image...</p>
  
</div>
