<div class="container">
  <header class="header">
    <p class="header-font">My Cycling Journey</p>
  </header>

  <div class="body">
    <div class="img-container">
      <img
        class="img-size"
        src="assets/img_ecp_beach.jpg"
        alt="img_ecp_beach"
      />
      <p class="image-caption">First explore to Eact Cost Park beach Jetty.</p>
    </div>

    <div class="img-container">
      <img
        class="img-size"
        src="assets/img_seletar_dam.jpg"
        alt="img_seletar_dam"
      />
      <p class="image-caption">
        Enjoying the sights at Seletar Dam Jetty with my loved one—making
        memories and proving that the best views come with the best company!
      </p>
    </div>

    <div class="img-container">
      <img
        class="img-size"
        src="assets/img_cycling_photo_shooting.jpg"
        alt="img_cycling_photo_shooting"
      />
      <p class="image-caption">
        Here’s my bulky camera gear, capturing stunning views while cycling—back
        when smartphones were still just a sci-fi fantasy!
      </p>
    </div>

    <div class="img-container">
      <img
        class="img-size"
        src="assets/route_half_singapore.jpg"
        alt="route_half_singapore"
      />
      <p class="image-caption">
        Cycling route to explore North East area - Changi Vilage, ECP beach and
        Marina Bay Sands.
      </p>
    </div>

    <div class="img-container">
      <img
        class="img-size"
        src="assets/route_north_to_south.jpg"
        alt="route_north_to_south"
      />
      <p class="image-caption">
        Cycling route to explore North South area - Sentosa Islands.
      </p>
    </div>

    <div class="img-container">
      <img
        class="img-size"
        src="assets/img_servicing_bike.jpg"
        alt="img_servicing_bike"
      />
      <p class="image-caption">
        Giving my bike a DIY spa day, so it's fresh and fabulous for our next
        adventure!
      </p>
    </div>
  </div>

  <div class="empty-line"></div>

  <footer class="footer">
    <p>
      SCTP CE7 Cloud Engineering - Sample Angular Website deployment using AWS
      Developers Tools
    </p>
  </footer>
</div>
